body {
     padding: 0;
     margin: 0;
     background-color: #1D1D1D;
     font-family: Helvetica, sans-serif;
}

header {
     color: #FFFFFF;
     width: 100vw;
}

header h1 {
     margin: 1vw;
     display: flex;
     gap: 0.5rem;
     justify-content: flex-start;
     align-items: center;
}

main {
     color: #FFFFFF;
     padding: 1em;
}

main a {
     color: royalblue;
     font-weight: bold;
     text-decoration: none;
}

.home-link {
     background-color: royalblue;
     text-align: center;
     vertical-align: middle;
     color: #FFFFFF;
     text-decoration: none;
     font-family: Helvetica;
     font-size: 0.5em;
     padding: 0.25em;
     border-radius: 50%;
     width: 1em;
     height: 1em;
}

.home-link:hover {
     transform: scale(1.1);
}